[main]
title = Fireflies!
logo = logo32x32.png
count = 100
geometry = 1000x1000

[firefly]
debug = False
color = gray20
flash_color = chartreuse2
min_interval = 500
max_interval = 500
min_flash = 20
max_flash = 20
min_speed = 0.005
max_speed = 0.05
max_force = 0.5
max_turn = 5
perception = 80
crowding = 30
can_wrap = False
edge_distance_pct = 5
